<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checking</title>
    <h1>Checking for {{ firstName }} {{ lastName }}</h1>
</head>
<body>
    <h1>Total: ${{ checking }}</h1>
    <p><a href = "/deposit">Deposit</a></p>
    <p><a href = "/pay">Withdraw</a></p>
    <p><a href = "/transfer">Transfer</a></p>
    <p>Recent transactions:</p>
    <br>
    <table border = 1>
            <thead>
                <td>Date</td>
                <td>Amount</td>
            </thead>
            {% for row in rows %}
                <tr>
                    <td>{{row["Date"]}}</td>
                    <td>{{row["Amount"]}}</td>
                </tr>
            {% endfor %}
        </table>

    <p><a href = "{{ url_for('dashboard') }}"> Go Back to Dashboard </a></p>
</body>
</html>
