<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Close an Issue</title>
    <h1>Banking Portal Project</h1>
</head>
<body>
    <p>Close an Issue:</p>
    <br>

    <form action = "{{ url_for('closing') }}" method = "POST">
        Help Number: <br>
        <input type="text" id="HelpNumber" name="HelpNumber"> <br>
        <br>
        Resolution: <br>
        <textarea name = "Problem" required></textarea> <br>
        <input type = "submit" value = "submit" onclick="msg()"/><br>
    </form>

    <p><a href = "{{ url_for('viewHelp')}}"> View Help Request </a></p>
    <p><a href = "{{ url_for('dashboard') }}"> Go Back to Dashboard </a></p>
</body>
</html>