<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Savings</title>
    <h1>Savings for {{ firstName }} {{ lastName }}</h1>
</head>
<body>
    <h1>Total: ${{ savings }}</h1>
    <p><a href = "/depositSavings">Deposit</a></p>
    <p><a href = "/paySavings">Pay</a></p>
    <p><a href = "/transfer">Transfer</a></p>
    <p>Recent transactions:</p>
    <br>
    <table border = 1>
            <thead>
                
            </thead>
            {% for row in rows %}
                <tr>
                    
                </tr>
            {% endfor %}
        </table>

    <p><a href = "{{ url_for('dashboard') }}"> Go Back to Dashboard </a></p>
</body>
</html>