<html>
   <body>
      <form action = "{{ url_for('transferFunds') }}" method = "POST">
         <h3>Transfer Funds</h3>
		 <h1>Who do you want to send money to today? (Please enter email for recipient)</h1> 
         Recipient<br>
         <input type = "Email" name = "Email" /></br>
         Amount<br>
         <input type = "number" name = "amount" step = ".01"/><br>
         <input type = "submit" value = "Send" /><br>
		 <p><a href = "/checking">back to checking</a></p>
      </form>
   </body>
</html>
