<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all Help Requests</title>
    <h1>Banking Portal</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dash">
        <div class="box-2">
            <p>Here are the current help requests:</p>
            <br>
            <table border = 1>
                <thead>
                    <td>Help Number</td>
                    <td>Date</td>
                    <td>Email</td>
                    <td>Problem</td>
                    <td>Copy Help Number</td>
                </thead>
                {% for row in rows %}
                <tr>
                    <td>{{row["Number"]}}</td>
                    <td>{{row["Date"]}}</td>
                    <td>{{row["Email"]}}</td>
                    <td>{{row["Problem"]}}</td>

                    <td><input type="button" value="Copy to Clipboard" onclick="" /></td>
                    <td>
                    <a href = "{{ url_for('closeIssue') }}"> Close </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <p><a href = "{{ url_for('dashboard') }}"> Go Back to Dashboard </a></p>
        </div>
    </div>
</body>
</html>
